<script src="./ControlPanel.js"></script>
<style src="./ControlPanel.css" scoped></style>

<template>

  <div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <h3>{{header}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1">
          <img src="../../assets/play.png" v-on:click="play"/>
        </div>
        <div class="col-sm-2" v-on:click="showRow">
          <h2><img src="../../assets/new.png"/>New</h2>
        </div>
      </div>

    </div>

    <table id="ControlTable" class="table">

      <thead class="thead-dark">
      <tr>
        <th scope="col" class="sm">ID</th>
        <th scope="col" class="sm">Origin</th>
        <th scope="col" class="sm">Destination</th>
        <th scope="col" class="sm">Weight</th>
        <th scope="col" class="sm">Start date</th>
        <th scope="col" class="sm">Finish date</th>
      </tr>
      </thead>

      <tbody>
      <tr v-if="isShowRow">
        <th scope="row">
          <input type="number" class="form-control" disabled>
        </th>
        <td>
          <input type="text" id="originForSearch" class="form-control" v-model="filterForSearch.origin">
        </td>
        <td>
          <input type="text" id="destinationForSearch" class="form-control" v-model="filterForSearch.destination">
        </td>
        <td>
          <input type="number" id="weightForSearch" class="form-control" v-model="filterForSearch.weight">
        </td>
        <td>
          <input type="date" id="startDateForSearch" class="form-control" v-model="filterForSearch.startDate">
        </td>
        <td>
          <input type="date" id="finishDateForSearch" class="form-control" v-model="filterForSearch.finishDate">
        </td>
      </tr>
      </tbody>

      <div v-if="isShowRow">
        <button v-on:click="newTrucks" class="btn btn-success">Add</button>
      </div>

    </table>

  </div>

</template>
