<script src="./SearchResults.js"></script>
<style src="./SearchResults.css" scoped></style>

<template>

  <div class="search-results">

    <h1>{{ header }}</h1>

    <table id="ResultTable" class="table">

      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Weight</th>
        <th scope="col">Start date</th>
        <th scope="col">Finish date</th>
        <th scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr
        v-for="(item, index) in results"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item.id">
        <td>
          <input type="text" class="form-control" v-model="item.id" disabled/>
        </td>
        <td>
          <input type="text" class="form-control" v-model="item.origin" disabled/>
        </td>
        <td>
          <input type="text" class="form-control" v-model="item.destination" disabled/>
        </td>
        <td>
          <input type="text" class="form-control" v-model="item.weight" disabled/>
        </td>
        <td>
          <input type="text" class="form-control" v-model="item.startDate" disabled/>
        </td>
        <td>
          <input type="text" class="form-control" v-model="item.finishDate" disabled/>
        </td>
        <td>
          <img src="../../assets/delete.png" v-on:click="deleteTruck(item.id)"/>
        </td>
      </tr>
      </tbody>

    </table>

  </div>

</template>
