<template>
  <div id="app">
    <control-panel/>
    <search-results/>
    <router-view/>
  </div>
</template>

<script>
import ControlPanel from './components/panel/ControlPanel.vue'
import SearchResults from './components/search/SearchResults.vue'

export default {
  name: 'App',
  components: {
    ControlPanel,
    SearchResults
  },
  methods: {
    updateResults (list) {
      this.$children.find(child => {
        return child.$options.name === 'search-results'
      }).showListTrucks(list)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background: #C5D8EC;
  width: 100%;
  height: 100%;
  position: absolute;
}
</style>
